@model FormTest.Models.Form
@{
    ViewBag.Title = "Удаление пользователя";
}
 
<div>
    <dl class="dl-horizontal">
        <dt>ФИО</dt>
        <dd>
            @Html.DisplayFor(model => model.Fullname)
        </dd>
 
        <dt>Почта</dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
 
    <div class="d-inline-flex p-2">
        <form asp-controller="Home" asp-action="Delete" method="post">
            <div class="form-group m-2">
                <input type="submit" class="btn btn-secondary" value="Удалить" />
            </div>
        </form>
        
        <form asp-controller="Home" asp-action="GoBackToIndex" method="get">
                        <div class="form-group m-2">
                            <input type="submit" class="btn btn-secondary" value="Вернуться на главную" />
                        </div>
                    </form>
    </div>
</div>