@model IEnumerable<FormTest.Models.Form>
@{
    ViewBag.Title = "Все пользователи";
}
<a class="btn btn-secondary" asp-action="Create">Добавить пользователя</a>
<table class="table">
     <h2 class="m-3">Все формы</h2>
    @foreach (var item in Model)
    {
        <tr><td>@item.Fullname</td>
            <td>
                <a asp-action="Details" asp-controller="Home" asp-route-id="@item.Id">Подробнее</a> |
                <a asp-action="Edit" asp-controller="Home" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Delete" asp-controller="Home" asp-route-id="@item.Id">Удалить</a>
            </td></tr>
    }
</table>