@model IEnumerable<FormTest.Models.Form>
@{
    ViewBag.Title = "Все Формы";
}
<a asp-action="Create">Добавить форму</a>
<table class="table">
    <tr><td>ФИО</td></tr>
    @foreach (var item in Model)
    {
        <tr><td>@item.Fullname</td></tr>
    }
</table>